.personForm{
  /* background-color: #e6e5e5; */
  height: 100vh;
  background-image: url("../../assets/images/skycity.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  box-shadow: 5px 8px 7px rgb(0, 0, 0);
}

.form-group label {
  font-weight: bold;
  font-size: 18px;
}
.star{
color: rgba(180, 51, 51, 0.904);
}
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; 
}

.loading-spinner {
  border: 4px solid rgba(0, 0, 0, 0.3);
  border-top: 4px solid #007bff; 
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite; 
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
