/* .col-lg-5{
    padding-right: 0px;
    padding-left: 50px;
} */

.form-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 138px;
    justify-content: space-between;
    align-items: center;
}
.form-row>[class*=col-] {
    padding-right: 0px;
    padding-left: -19px;
}

  .col-md-12 {
    flex: 0 0 100%;
    max-width: 89%;
    margin-left: 7%;
    position: relative;
   
    

}

.btn {
    color: #fff;
    background-color:  #07b90f;
    border-color: #0CDA90;
    /* box-shadow: 0 3px 2px rgb(12 218 144 / 20%); */
}
.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #84f376;
    border-color: #007bff;
}
.row justify-content-center{
    justify-content: center;

}
.col-md-12 selectAction{
    flex: 0 0 100%;
    max-width: 89%;
    margin-left: 7%;
    position: relative;
}